# Ignore node_modules as they will be installed inside the Docker container
node_modules
npm-debug.log
yarn-error.log

# Ignore local environment files
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local

#ignore sentry
sentry*

# Ignore build artifacts
.next
out

# Ignore logs
logs
*.log

# Ignore macOS system files
.DS_Store

# Ignore temporary files and folders
.tmp
*.swp

# Ignore editor and IDE config files
.vscode
.idea
*.iml
